$font-family--basic: "-apple-system", BlinkMacSystemFont,"PingFang SC", "Source Han Sans CN","Hiragino Sans GB","noto sans","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
$scrollbar-height: 8px;
$scrollbar-width: 8px;

$card-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);
$radius--small: 4px;
